html {
 font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
 margin-bottom: 0 !important;
}

.close {
 outline: none;
 border: 0 !important;
 font-size: 1.6rem;
 background: transparent;
}

.hero {
 background-image: linear-gradient(to left, rgba(0, 0, 0, 0.13), rgba(12, 65, 211, 0.397)), url('../images/bg-hero.png');
 background-attachment: fixed;
 background-size: cover;
}

.navigation {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 76px;
 box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.404);
 background: rgb(17, 131, 238);
 padding: 1rem 2rem;
 z-index: 3;
}

.navigation a {
 text-decoration: none;
 font-weight: 600;
 padding: .5rem 1rem;
 color: rgb(243, 243, 243);
 border-radius: 20px;
 margin-right: 10px;
 display: flex;
 align-items: center;
}

.navigation a:hover {
 color: white;
 background: rgb(39, 111, 192);
}

.router-link-active { 
 background: rgb(27, 98, 180);
 color: white !important;
}

.content {
 margin-top: 80px;
}

.bi-3x {
 font-size: 5rem;
}

.br {
 padding: 1.25rem !important;
 margin-bottom: 1.25rem !important;
 border-left-color: #f0ad4e !important;
 border-left-width: .25rem !important;
 border-radius: .25rem !important;
}

.card-number {
 font-size: 4rem;
 font-weight: 700;
}