<template>
  <div>
    <div class="navigation">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <div class="d-flex flex-column me-3" v-if="user != 0 ">
            <b-avatar variant="light" class="text-light bg-info" :text="user.first_name[0]"></b-avatar>
          </div>
          <div class="d-flex flex-column">
            <h5 class="text-light  ">{{user.first_name}}</h5>
            <p class="text-light">{{user.email}}</p> 
          </div>
        </div>
        <div class="d-flex">
          <router-link to="students" href=""><i class="bi bi-person-circle me-2"></i>Students</router-link >
          <router-link to="records"><i class="bi bi-folder2-open me-2"></i>Medical Records</router-link>
          <a v-on:click.prevent="$bvModal.show('logoutModal')" href=""><i class="bi bi-x-circle me-2"></i>Log-out</a>
        </div>
      </div>
    </div>
    <b-modal
      ref="update_student"
      id="logoutModal"
      title="Logout User"
    >
    <p>Are you sure you want to logout?</p>
    <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="primary" @click="cancel()">
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="danger"
          class="text-light"
          v-on:click.prevent="logout"
        >
          Logout
        </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import {mapState} from 'vuex'
export default {
  methods: {
   async logout(){
     const res = await this.$store.dispatch('auth/LOGOUT_ADMIN')
     if(res.status == 200){
      this.$router.push('/')
      this.$toast.success('Logout successful')
     }
   }
  },
  async mounted(){
    await this.$store.dispatch('auth/CHECK_ADMIN')
  },
  computed: {
    ...mapState('auth', ['user'])
  }

}
</script>