<template>
  <div id="app">
    <SideBar isActive="index"/>
    <NavBar />
    <div class="main">
      <div class="container pt-4">
        
        <div class="row mt-5">
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-muted">Borrowed and returned books</h6>
            <canvas id="barChart" ref="barChart" width="280" height="200"></canvas>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-muted">Popular book genre</h6>
            <canvas id="pieChart" width="280" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "../../navigation/SideBar";
import NavBar from "../../navigation/NavBar";
import Chart from 'chart.js';
export default {
  components: { SideBar, NavBar },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["JAN", "FEB", "MARCH", "APRIL", "MAY", "JUNE"],
          datasets: [
            {
              label: "Borrowed Books",
              data: [10, 9, 5, 11, 8, 4],
              backgroundColor: "rgba(0, 0, 0, .8)",
            },
            {
              label: "Returned Books",
              data: [11, 8, 10, 8, 5, 8],
              backgroundColor: "rgba(179, 179, 179, .8)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [30, 10, 25, 20, 15],
              backgroundColor: [
                "rgb(0, 38, 153, .8)",
                "rgba(102, 140, 255, .8)",
                "rgba(77, 0, 0, .8)",
                "rgba(0, 102, 0, .8)",
                "rgba(179, 179, 0, .8)",
              ],
            },
          ],

          labels: ["Fiction", "Novel", "Mystery", "Triller", "Horror"],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>
