<template>
 <div>
  <Navbar />
  <div class="content">
   <router-view name="StudentManagement" />
   <router-view name="MedicalRecords" />

  </div>
 </div>

</template>
<script>
import axios from '../../axios/index'
import Navbar from './components/Navbar.vue'
export default {
  components: { Navbar },
  methods: {

  },
  async mounted() {
    await this.$store.dispatch('auth/CHECK_ADMIN')
    const BEARER_TOKEN = localStorage.getItem("auth") || "";
    axios.defaults.headers.common["Authorization"] = `Bearer ${BEARER_TOKEN}`;
  }

}
</script>