<template>
 <div class="mt-5">
  <div class="row g-0 justify-content-center pt-5">
   <div class="col-12 col-sm-11 col-md-9 col-lg-8 col-xl-8">
    <div class="card p-5 mb-3">
     <div class="d-flex mb-5">
      <div class="d-flex flex-column me-auto">
       <h5 class="">MEDICAL RECORDS</h5>
       <p class="text-muted">Listed below are the medical records.</p>
      </div>
      <div class="d-flex">
       <input type="text" class="form-control" id="searchStudent" v-model="search" placeholder="Search here" />
      </div>
     </div>
     <div class="d-flex justify-content-end mb-3">
      <a v-on:click.prevent="$bvModal.show('selectStudentModal')" href="" class="btn btn-primary btn-sm">Add Record</a>
     </div>
     <div class="table-responsive">
      <table class="table table-hover">
       <caption>
        Number of Medical record(s):
        {{
         medical_record_count
        }}
       </caption>
       <thead>
        <tr>
         <th>#</th>
         <th col="row">Date Created</th>
         <th col="row">Student ID</th>
         <th col="row">Complaint</th>
         <th col="row">First Name</th>
         <th>Middle Name</th>
         <th>Last Name</th>
         <th>Has Asthma</th>
         <th>Has Diabetes</th>
         <th>Has Seizures</th>
         <th>Pulse Rate</th>
         <th>Blood Rate</th>
         <th>Blood Pressure</th>
         <th>Temperature</th>
         <th>Illness History</th>
         <th>Treatment</th>
         <th>Physical Examination</th>
         <th>Option</th>
        </tr>
       </thead>
       <tbody>
        <tr v-for="medical_record in filteredStudents" :key="medical_record.id">
         <th scope="row">{{ medical_record.id }}</th>
         <td>{{ medical_record.created_at | moment }}</td>
         <td>{{ medical_record.student.student_id }}</td>
         <td>{{ medical_record.complaint}}</td>
         <td>{{ medical_record.student.first_name }}</td>
         <td>{{ medical_record.student.middle_name }}</td>
         <td>{{ medical_record.student.last_name }}</td>
         <td>{{ medical_record.has_asthma == 1 ? 'Yes' : 'No' }}</td>
         <td>{{ medical_record.has_diabetes == 1 ? 'Yes' : 'No' }}</td>
         <td>{{ medical_record.has_seizures == 1 ? 'Yes' : 'No' }}</td>
         <td>{{ medical_record.pulse_rate }}</td>
         <td>{{ medical_record.blood_rate }}</td>
         <td>{{ medical_record.blood_pressure }}</td>
         <td>{{ medical_record.temperature }}</td>
         <td>{{ medical_record.illness_history }}</td>
         <td>{{ medical_record.treatment }}</td>
         <td>{{ medical_record.physical_examination }}</td>
         <td>
          <div class="d-flex">
           <button
            class="btn rounded-pill btn-primary btn-sm me-1"
            v-on:click.prevent="showUpdateMedicalRecord(medical_record)"
           >
            Update
           </button>
          </div>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>

  <!--- SELECT ID --->
  <b-modal ref="select_student_record" id="selectStudentModal" title="New Record">
   <form>
    <select v-model="data.student_info_id" class="form-select">
     <option :value="student.id" v-for="(student, i) in students" :key="i">
      {{ student.first_name }} {{ student.last_name }}
     </option>
    </select>
   </form>
   <template #modal-footer="{ cancel }">
    <b-button size="sm" variant="danger" @click="cancel()">
     Cancel
    </b-button>
    <b-button
     size="sm"
     variant="success"
     v-on:click.prevent="
      if (data.student_info_id == '') return $toast.error('Student is required');
      $bvModal.show('addRecordModal');
      $bvModal.hide('selectStudentModal');
     "
    >
     Select
    </b-button>
   </template>
  </b-modal>

  <!--- ADD RECORD MODAL --->
  <b-modal ref="new_medical_record" id="addRecordModal" size="lg" title="New Record">
   <form>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.complaint"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">Complaint</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.pulse_rate" type="number" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Pulse Rate</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.blood_rate" type="number" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Blood Rate</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.blood_pressure"
        type="number"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">Blood Pressure</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.temperature" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Temperature</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.illness_history" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Illness History</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.treatment"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">Treatment</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.physical_examination" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Physical Examination</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.diagnosis" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Diagnosis</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_asthma" class="form-check-input" type="checkbox" value="" id="hasAsthma" />
       <label class="form-check-label" for="hasAsthma">
        Has Asthma
       </label>
      </div>
     </div>
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_diabetes" class="form-check-input" type="checkbox" value="" id="hasDiabetes" />
       <label class="form-check-label" for="hasDiabetes">
        Has Diabetes
       </label>
      </div>
     </div>
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_seizures" class="form-check-input" type="checkbox" value="" id="hasSeizures" />
       <label class="form-check-label" for="hasSeizures">
        Has Seizures
       </label>
      </div>
     </div>
    </div>
    <p class="text-muted">
     <small> Please make sure that all of the infos are valid </small>
    </p>
   </form>
   <template #modal-footer="{ cancel }">
    <b-button size="sm" variant="danger" @click="cancel()">
     Cancel
    </b-button>
    <b-button size="sm" variant="success" v-on:click.prevent="storeMedicalRecord">
     Create
    </b-button>
   </template>
  </b-modal>

  <!--- UPDATE RECORD MODAL --->
  <b-modal ref="update_medical_record" id="updateRecordModal" size="lg" title="Update Record">
   <form>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.complaint"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">Complaint</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.pulse_rate" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Pulse Rate</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.blood_rate" type="" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Blood Rate</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.blood_pressure"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">Blood Pressure</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.temperature" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Temperature</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.illness_history" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Illness History</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.treatment"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">Treatment</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.physical_examination" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Physical Examination</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.diagnosis" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Diagnosis</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_asthma" class="form-check-input" type="checkbox" value="" id="hasAsthma" />
       <label class="form-check-label" for="hasAsthma">
        Has Asthma
       </label>
      </div>
     </div>
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_diabetes" class="form-check-input" type="checkbox" value="" id="hasDiabetes" />
       <label class="form-check-label" for="hasDiabetes">
        Has Diabetes
       </label>
      </div>
     </div>
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_seizures" class="form-check-input" type="checkbox" value="" id="hasSeizures" />
       <label class="form-check-label" for="hasSeizures">
        Has Seizures
       </label>
      </div>
     </div>
    </div>
    <p class="text-muted">
     <small> Please make sure that all of the infos are valid </small>
    </p>
   </form>
   <template #modal-footer="{ cancel }">
    <b-button size="sm" variant="danger" @click="cancel()">
     Cancel
    </b-button>
    <b-button size="sm" variant="success" v-on:click.prevent="updateMedicalRecord">
     Create
    </b-button>
   </template>
  </b-modal>
 </div>
</template>
<script>
 import { mapState } from 'vuex';
 import moment from 'moment';
 export default {
  filters: {
   moment: function(date) {
    return moment(date).format('MMMM Do YYYY, h:mm a');
   },
  },
  data() {
   return {
    search: '',
    data: {
     student_info_id: '',
     has_seizures: false,
     has_asthma: false,
     has_diabetes: false,
     complaint: '',
     temperature: '',
     blood_pressure: '',
     pulse_rate: '',
     blood_rate: '',
     diagnosis: '',
     illness_history: '',
     treatment: '',
     physical_examination: '',
    },
   };
  },
  computed: {
   ...mapState('admin', ['students', 'student_count', 'medical_records', 'medical_record_count']),
   filteredStudents() {
    return this.medical_records.filter((medical_record) => {
     return (
      medical_record.student.id.toString().match(this.search) ||
      medical_record.student.first_name.match(this.search) ||
      medical_record.student.middle_name.match(this.search) ||
      medical_record.student.last_name.match(this.search)
     );
    });
   },
  },
  methods: {
   showUpdateMedicalRecord(medical_record) {
    this.id = medical_record.id;
    this.data = { ...medical_record };
    this.$refs['update_medical_record'].show();
   },
   async storeMedicalRecord() {
    if (this.data.student_info_id == '') return this.$toast.error('Student is required');
    if (this.data.complaint == '') return this.$toast.error('Complaint is required');
    if (this.data.temperature == '') return this.$toast.error('Temperature is required');
    if (this.data.blood_pressure == '') return this.$toast.error('Blood presure is required');
    if (this.data.pulse_rate == '') return this.$toast.error('Pulse rate is required');
    if (this.data.blood_rate == '') return this.$toast.error('Blood rate is required');
    if (this.data.diagnosis == '') return this.$toast.error('Diagnosis is required');
    if (this.data.illness_history == '') return this.$toast.error('Illness history is required');
    if (this.data.treatment == '') return this.$toast.error('Treatment is required');
    if (this.data.physical_examination == '') return this.$toast.error('Physical Examination is required');

    const response = await this.$store.dispatch('admin/STORE_MEDICAL_RECORD', this.data);
    if (response.status == 200) {
     this.$toast.success(response.data.message);
     await this.$store.dispatch('admin/index');
     this.$refs.new_medical_record.hide();
    } else {
     this.$toast.error('Something wrong. Try again later.');
    }
   },

   async updateMedicalRecord() {
    if (this.data.student_info_id == '') return this.$toast.error('Student is required');
    if (this.data.complaint == '') return this.$toast.error('Complaint is required');
    if (this.data.temperature == '') return this.$toast.error('Temperature is required');
    if (this.data.blood_pressure == '') return this.$toast.error('Blood presure is required');
    if (this.data.pulse_rate == '') return this.$toast.error('Pulse rate is required');
    if (this.data.blood_rate == '') return this.$toast.error('Blood rate is required');
    if (this.data.diagnosis == '') return this.$toast.error('Diagnosis is required');
    if (this.data.illness_history == '') return this.$toast.error('Illness history is required');
    if (this.data.treatment == '') return this.$toast.error('Treatment is required');
    if (this.data.physical_examination == '') return this.$toast.error('Physical Examination is required');

    const response = await this.$store.dispatch('admin/UPDATE_MEDICAL_RECORD', { data: this.data, id: this.id });
    if (response.status == 200) {
      await this.$store.dispatch('admin/GET_MEDICAL_RECORDS');
      this.$toast.success(response.data.message);
      await this.$store.dispatch('admin/index');
      this.$refs.select_student_record.hide();
      this.$refs.update_medical_record.hide();
      await this.$store.dispatch('admin/index');
    } else {
     this.$toast.error('Something wrong. Try again later.');
    }
   },
  },
  async mounted() {
   document.title = 'Record Management';
   await this.$store.dispatch('auth/CHECK_ADMIN');
   await this.$store.dispatch('admin/GET_STUDENTS');
   await this.$store.dispatch('admin/GET_MEDICAL_RECORDS');
  },
 };
</script>
