<template>
  <div class="mt-5">
    <div class="row g-0 justify-content-center pt-5">
      <div class="col-12 col-sm-11 col-md-9 col-lg-8 col-xl-8">
        <div class="card p-5">
          <div class="d-flex mb-5">
            <div class="d-flex flex-column me-auto">
              <h5 class="">LIST OF STUDENTS</h5>
              <p class="text-muted">
                Listed below are the students in your records.
              </p>
            </div>
            <div class="d-flex">
              <input
                type="text"
                v-model="search"
                class="form-control"
                id="searchStudent"
                placeholder="Search here"
              />
            </div>
          </div>
          <div class="d-flex justify-content-end mb-3">
            <a
              v-on:click.prevent="$bvModal.show('addStudentModal')"
              href=""
              class="btn btn-primary btn-sm"
              >Add Student</a
            >
          </div>
          <div class="table-responsive">
            <table class="table">
              <caption>
                Number of Students:
                {{
                  student_count
                }}
              </caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Student ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Middle Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Birth Date</th>
                  <th scope="col">Age</th>
                  <th scope="col">Contact Number</th>
                  <th scope="col">Civil Status</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="student in filteredStudents" :key="student.id">
                  <th scope="row">{{ student.id }}</th>
                  <td>{{ student.student_id }}</td>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.middle_name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.birth_date }}</td>
                  <td>{{ student.age }}</td>
                  <td>{{ student.contact_number }}</td>
                  <td>{{ student.civil_status }}</td>
  
                  <td>
                    <div class="d-flex">
                      <button
                        v-on:click="showUpdateStudent(student)"
                        class="btn rounded-pill btn-primary btn-sm me-1"
                      >
                        Update
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--- ADD STUDENT MODAL --->
    <b-modal
      ref="new_student"
      id="addStudentModal"
      size="lg"
      title="Add Student"
    >
      <form ref="addStudentModal">
        <div class="row">
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                v-model="data.first_name"
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">First Name</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.middle_name"
                type="text"
                class="form-control"
                id=""
                placeholder="Password"
              />
              <label for="floatingPassword">Middle Name</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.last_name"
                type="text"
                class="form-control"
                id=""
                placeholder="Password"
              />
              <label for="floatingPassword">Last Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.student_id"
                type="number"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Student ID</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.contact_number"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Contact</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.birth_date"
                type="date"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Birth Date</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="form-floating">
              <input
                v-model="data.address"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Address</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-3">
            <div class="form-floating">
              <select
                v-model="data.gender"
                class="form-select"
                id="floatingSelect"
                aria-label="Floating label select example"
              >
                <option selected disabled>Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <label for="floatingSelect">Select gender</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.age"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Age</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.civil_status"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Civil Status</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                v-model="data.email"
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email address</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <input
                v-model="data.password"
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Password</label>
            </div>
          </div>
        </div>
        <p class="text-muted">
          Please make sure that all of the infos are valid
        </p>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="success" v-on:click.prevent="storeStudent">
          Create
        </b-button>
      </template>
    </b-modal>

    <!--- UPDATE STUDENT MODAL --->
    <b-modal
      ref="update_student"
      id="updateStudentModal"
      size="lg"
      title="Update Student"
    >
      <form ref="updateModal">
        <div class="row">
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                v-model="data.first_name"
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">First Name</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.middle_name"
                type="text"
                class="form-control"
                id=""
                placeholder="Password"
              />
              <label for="floatingPassword">Middle Name</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.last_name"
                type="text"
                class="form-control"
                id=""
                placeholder="Password"
              />
              <label for="floatingPassword">Last Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.student_id"
                type="number"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Student ID</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.contact_number"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Contact</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.birth_date"
                type="date"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Birth Date</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="form-floating">
              <input
                v-model="data.address"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Address</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-3">
            <div class="form-floating">
              <select
                v-model="data.gender"
                class="form-select"
                id="floatingSelect"
                aria-label="Floating label select example"
              >
                <option selected disabled>Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <label for="floatingSelect">Select gender</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.age"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Age</label>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-floating">
              <input
                v-model="data.civil_status"
                type="text"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Civil Status</label>
            </div>
          </div>
        </div>
        <p class="text-muted">
          Please make sure that all of the infos are valid
        </p>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="warning"
          class="text-light"
          v-on:click.prevent="updateStudent"
        >
          Update
        </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      id: 0,
      search: "",
      data: {
        email: "",
        address: "",
        password: "",
        first_name: "",
        middle_name: "",
        contact_number: "",
        civil_status: "",
        student_id: "",
        birth_date: "",
        last_name: "",
        gender: "",
        age: "",
      },
    };
  },
  computed: {
    ...mapState("admin", ["students", "student_count"]),
    filteredStudents() {
      return this.students.filter((student) => {
        return (
          student.student_id.match(this.search) ||
          student.first_name.match(this.search) ||
          student.middle_name.match(this.search) ||
          student.last_name.match(this.search)
        );
      });
    },
  },
  methods: {
    showUpdateStudent(student) {
      this.id = student.id;
      this.data = { ...student };
      this.$refs["update_student"].show();
    },
    resetData() {
      this.data = {
        email: "",
        address: "",
        password: "",
        first_name: "",
        middle_name: "",
        contact_number: "",
        civil_status: "",
        student_id: "",
        birth_date: "",
        last_name: "",
        gender: "",
        age: "",
      };
    },
    async storeStudent() {
      if (this.data.first_name == "")
        return this.$toast.error("First Name is required");
      if (this.data.middle_name == "")
        return this.$toast.error("Middle Name is required");
      if (this.data.last_name == "")
        return this.$toast.error("Last Name is required");
      if (this.data.student_id == "")
        return this.$toast.error("Student ID is required");
      if (this.data.contact_number == "")
        return this.$toast.error("Contact Number is required");
      if (this.data.birth_date == "")
        return this.$toast.error("Birthdate is required");
      if (this.data.address == "")
        return this.$toast.error("Address is required");
      if (this.data.gender == "")
        return this.$toast.error("Gender is required");
      if (this.data.age == "") return this.$toast.error("Age is required");
      if (this.data.civil_status == "")
        return this.$toast.error("Civil Status is required");
      if (this.data.email == "") return this.$toast.error("Email is required");
      if (this.data.password == "")
        return this.$toast.error("Password is required");

      const res = await this.$store.dispatch("auth/SIGNUP", this.data);
      if (res.status == 200) {
        await this.$store.dispatch("admin/GET_STUDENTS");
        this.$bvModal.hide("addStudentModal");
        this.$toast.success("User added successfully");
      } else {
        this.$toast.error("Something went wrong");
      }
    },

    async updateStudent() {
      if (this.data.first_name == "")
        return this.$toast.error("First Name is required");
      if (this.data.middle_name == "")
        return this.$toast.error("Middle Name is required");
      if (this.data.last_name == "")
        return this.$toast.error("Last Name is required");
      if (this.data.student_id == "")
        return this.$toast.error("Student ID is required");
      if (this.data.contact_number == "")
        return this.$toast.error("Contact Number is required");
      if (this.data.birth_date == "")
        return this.$toast.error("Birthdate is required");
      if (this.data.gender == "")
        return this.$toast.error("Gender is required");
      if (this.data.age == "") return this.$toast.error("Age is required");
      if (this.data.civil_status == "")
        return this.$toast.error("Civil Status is required");

      const response = await this.$store.dispatch("admin/UPDATE_STUDENT", {
        data: this.data,
        id: this.id,
      });
      if (response.status == 200) {
        await this.$store.dispatch("admin/GET_STUDENTS");
        this.$toast.success(response.data.message);
        this.$refs.update_student.hide();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
  },
  async mounted() {
    document.title = "Student Management";

    await this.$store.dispatch("admin/GET_STUDENTS");
    this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
      if (modalId == "addStudentModal") {
        this.resetData();
      }
    });
  },
};
</script>