<template>
  <div class="nav">
    <div class="nav-container">
      <div class="d-flex align-items-center">
       
        
      </div>
      <div class="user-container">
        <div class="d-flex align-items-center">
          <img src="../../assets/images/logout.png" height="38" class="mt-1 mr-2">
          <a href="" class="link-custom">Log-out</a>
        </div>
      </div>
    </div>
  </div>
</template>