<template>
 <div class="container-fluid" style="height: 100vh">
  <div class="col-12">
   <div class="row h-100 align-items-center justify-content-center ">
    <div class="col-8 col-xl-8 col-md-11 col-lg-11 mt-3">
     <div class="card p-3">
      <div class="d-flex align-items-center">
       <b-avatar></b-avatar>
       <div class="d-flex flex-column ms-3 me-auto" v-if="user != 0">
        <h5>{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</h5>
        <h6 class="text-muted">{{ user.email }}</h6>
        <h6 class="text-muted">{{ user.userinfo.contact_number }}</h6>
       </div>
       <div class="d-flex align-items-center me-3">
        <a v-on:click.prevent="$bvModal.show('settingsModal')" href=""
         ><i class="bi bi-tools me-2" style="font-size: 1.5rem"></i
        ></a>
        <a v-on:click.prevent="$bvModal.show('logoutModal')" class="text-decoration-none"
         ><i class="bi bi-x-circle" style="font-size: 1.5rem; cursor: pointer"></i
        ></a>
       </div>
      </div>
     </div>
    </div>
    <div class="col-8 col-xl-8 col-md-11 col-lg-11 mt-2">
     <div class="card p-4">
      <div class="d-flex mb-5">
       <div class="d-flex flex-column me-auto">
        <h5 class="">MEDICAL RECORDS</h5>
        <p class="text-muted">Listed below are the medical records.</p>
       </div>
       <div class="d-flex">
        <input type="text" class="form-control" id="searchStudent" v-model="search" placeholder="Search here" />
       </div>
      </div>
      <div class="table-responsive">
       <table class="table">
        <caption>
         Number of Medical record(s):
         {{
          med_record_count
         }}
        </caption>
        <thead>
         <tr>
          <th scope="col">#</th>
          <th scope="col">Date Created</th>
          <th scope="col">Complaint</th>
          <th scope="col">Has Asthma</th>
          <th scope="col">Has Diabetes</th>
          <th scope="col">Has Seizures</th>
          <th scope="col">Pulse Rate</th>
          <th scope="col">Blood Rate</th>
          <th scope="col">Blood Pressure</th>
          <th scope="col">Temperature</th>
          <th scope="col">Illness History</th>
          <th scope="col">Treatment</th>
          <th scope="col">Physical Examination</th>
          <th scope="col">Option</th>
         </tr>
        </thead>
        <tbody>
         <tr v-for="(rec, i) in filteredMedicalRecords" :key="i">
          <th>{{ i + 1 }}</th>
          <td scope="row">{{ rec.created_at | moment }}</td>
          <td>{{ rec.complaint }}</td>
          <td>{{ rec.has_asthma == 0 ? 'No' : 'Yes' }}</td>
          <td>{{ rec.has_diabetes == 0 ? 'No' : 'Yes' }}</td>
          <td>{{ rec.has_seizures == 0 ? 'No' : 'Yes' }}</td>
          <td>{{ rec.pulse_rate }}</td>
          <td>{{ rec.blood_rate }}</td>
          <td>{{ rec.blood_pressure }}</td>
          <td>{{ rec.temperature }}</td>
          <td>{{ rec.illness_history }}</td>
          <td>{{ rec.treatment }}</td>
          <td>{{ rec.physical_examination }}</td>
          <td>
           <div class="d-flex">
            <button
             href=""
             v-on:click="
              data = rec;
              $bvModal.show('viewRecordModal');
             "
             class="btn rounded-pill btn-primary btn-sm me-1"
            >
             View
            </button>
           </div>
          </td>
         </tr>
        </tbody>
       </table>
      </div>
     </div>
    </div>
   </div>
  </div>
  <b-modal ref="update_student" id="logoutModal" title="Logout">
   <p>Are you sure you want to logout?</p>
   <template #modal-footer="{ cancel }">
    <b-button size="sm" variant="primary" @click="cancel()">
     Cancel
    </b-button>
    <b-button size="sm" variant="danger" class="text-light" v-on:click.prevent="logout">
     Logout
    </b-button>
   </template>
  </b-modal>

  <b-modal ref="update_student" id="settingsModal" size="lg" title="Update Account">
   <form ref="addStudentModal">
    <div class="row" v-if="user != 0">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="user.userinfo.first_name"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">First Name</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="user.userinfo.middle_name" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Middle Name</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="user.userinfo.last_name" type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Last Name</label>
      </div>
     </div>
    </div>
    <div class="row" v-if="user != 0">
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input
        v-model="user.userinfo.student_id"
        type="number"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
       />
       <label for="floatingPassword">Student ID</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input
        v-model="user.userinfo.contact_number"
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
       />
       <label for="floatingPassword">Contact</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input
        v-model="user.userinfo.birth_date"
        type="date"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
       />
       <label for="floatingPassword">Birth Date</label>
      </div>
     </div>
    </div>
    <div class="row" v-if="user != 0">
     <div class="col-12 mb-3">
      <div class="form-floating">
       <input
        v-model="user.userinfo.address"
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
       />
       <label for="floatingPassword">Address</label>
      </div>
     </div>
    </div>
    <div class="row" v-if="user != 0">
     <div class="col-4 mb-3">
      <div class="form-floating">
       <select
        v-model="user.userinfo.gender"
        class="form-select"
        id="floatingSelect"
        aria-label="Floating label select example"
       >
        <option selected disabled>Select gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
       </select>
       <label for="floatingSelect">Select gender</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input
        v-model="user.userinfo.age"
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
       />
       <label for="floatingPassword">Age</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input
        v-model="user.userinfo.civil_status"
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
       />
       <label for="floatingPassword">Civil Status</label>
      </div>
     </div>
    </div>
    <div class="row" v-if="user != 0">
     <div class="col-6">
      <div class="form-floating mb-3">
       <input
        v-model="user.email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
       />
       <label for="floatingInput">Email address</label>
      </div>
     </div>
     <div class="col-6">
      <div class="form-floating">
       <input
        v-model="user.password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
       />
       <label for="floatingPassword">Password</label>
      </div>
     </div>
    </div>
    <p class="text-muted">
     Please make sure that all of the infos are valid
    </p>
   </form>
   <template #modal-footer="{ cancel }">
    <b-button size="sm" variant="primary" @click="cancel()">
     Cancel
    </b-button>
    <b-button size="sm" variant="success" class="text-light" v-on:click.prevent="saveUpdate">
     Update
    </b-button>
   </template>
  </b-modal>

  <!--- VIEW RECORD MODAL --->
  <b-modal ref="view_record_modal" id="viewRecordModal" size="lg" title="View Record">
   <form>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.complaint"
        type="text"
        class="form-control"
        id="floatingInput"
        disabled
        placeholder="name@example.com"
       />
       <label for="floatingInput">Complaint</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.pulse_rate" type="text" disabled class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Pulse Rate</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.blood_rate" type="number" disabled class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Blood Rate</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.blood_pressure"
        type="text"
        class="form-control"
        id="floatingInput"
        disabled
        placeholder="name@example.com"
       />
       <label for="floatingInput">Blood Pressure</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.temperature" disabled type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Temperature</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.illness_history" disabled type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Illness History</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-4">
      <div class="form-floating mb-3">
       <input
        v-model="data.treatment"
        type="text"
        class="form-control"
        id="floatingInput"
        disabled
        placeholder="name@example.com"
       />
       <label for="floatingInput">Treatment</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input
        v-model="data.physical_examination"
        disabled
        type="text"
        class="form-control"
        id=""
        placeholder="Password"
       />
       <label for="floatingPassword">Physical Examination</label>
      </div>
     </div>
     <div class="col-4 mb-3">
      <div class="form-floating">
       <input v-model="data.diagnosis" disabled type="text" class="form-control" id="" placeholder="Password" />
       <label for="floatingPassword">Diagnosis</label>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.hasAsthma" disabled class="form-check-input" type="checkbox" value="" id="hasAsthma" />
       <label class="form-check-label" for="hasAsthma">
        Has Asthma
       </label>
      </div>
     </div>
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_diabetes" disabled class="form-check-input" type="checkbox" value="" id="hasDiabetes" />
       <label class="form-check-label" for="hasDiabetes">
        Has Diabetes
       </label>
      </div>
     </div>
     <div class="col-3">
      <div class="form-check">
       <input v-model="data.has_seizures" disabled class="form-check-input" type="checkbox" value="" id="hasSeizures" />
       <label class="form-check-label" for="hasSeizures">
        Has Seizures
       </label>
      </div>
     </div>
    </div>
   </form>
  </b-modal>
 </div>
</template>
<script>
 import { mapState } from 'vuex';
 import moment from 'moment';
 export default {
  filters: {
   moment: function(date) {
    return moment(date).format('MMMM Do YYYY, h:mm a');
   },
  },
  data() {
   return {
    data: {
     student_info_id: '',
     has_seizures: false,
     has_asthma: false,
     has_diabetes: false,
     complaint: '',
     temperature: '',
     blood_pressure: '',
     pulse_rate: '',
     blood_rate: '',
     diagnosis: '',
     illness_history: '',
     treatment: '',
     physical_examination: '',
    },
    search: '',
   };
  },
  async mounted() {
   document.title = 'Student Info';
   await this.$store.dispatch('auth/CHECK_STUDENT');
   await this.$store.dispatch('student/MEDICAL_RECORD');
  },

  computed: {
   ...mapState('auth', ['user']),
   ...mapState('student', ['med_records', 'med_record_count']),
   filteredMedicalRecords() {
    return this.med_records.filter((med_record) => {
     return (
      med_record.complaint.match(this.search) ||
      med_record.physical_examination.match(this.search) ||
      med_record.treatment.match(this.search)
     );
    });
   },
  },
  methods: {
   async logout() {
    const res = await this.$store.dispatch('auth/LOGOUT_USER');
    if (res.status == 200) {
     this.$router.push('/');
     this.$toast.success('Logout successful');
    }
   },
   async saveUpdate() {
    this.data = {
     email: this.user.email,
     password: this.user.password,
     address: this.user.userinfo.address,
     student_id: this.user.userinfo.student_id,
     first_name: this.user.userinfo.first_name,
     middle_name: this.user.userinfo.middle_name,
     contact_number: this.user.userinfo.contact_number,
     civil_status: this.user.userinfo.civil_status,
     birth_date: this.user.userinfo.birth_date,
     last_name: this.user.userinfo.last_name,
     gender: this.user.userinfo.gender,
     age: this.user.userinfo.age,
    };
    if (this.data.first_name == '') return this.$toast.error('First Name is required');
    if (this.data.middle_name == '') return this.$toast.error('Middle Name is required');
    if (this.data.last_name == '') return this.$toast.error('Last Name is required');
    if (this.data.student_id == '') return this.$toast.error('Student ID is required');
    if (this.data.contact_number == '') return this.$toast.error('Contact Number is required');
    if (this.data.birth_date == '') return this.$toast.error('Birthdate is required');
    if (this.data.address == '') return this.$toast.error('Address is required');
    if (this.data.gender == '') return this.$toast.error('Gender is required');
    if (this.data.age == '') return this.$toast.error('Age is required');
    if (this.data.civil_status == '') return this.$toast.error('Civil Status is required');
    if (this.data.email == '') return this.$toast.error('Email is required');
    if (this.data.password == '') return this.$toast.error('Password is required');

    const res = await this.$store.dispatch('auth/UPDATE_ACCOUNT', { data: this.data, id: this.user.id });
    if (res.status == 200) {
     await this.$store.dispatch('auth/CHECK_STUDENT');
     this.$bvModal.hide('settingsModal');
     this.$toast.success('User account updated successfully');
    } else {
     this.$toast.error('Something went wrong');
    }
   },
  },
 };
</script>
