@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
  height: 100%;
}

body {
  line-height: 1.5rem !important;
  font-family: 'Open Sans', sans-serif !important;
  
}

a:hover {
  text-decoration: none;

}

.table th{
  background-color: rgb(217, 217, 217);
  color: #ffffff;

}

.link-custom {
  color: #3498DB;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgb(255, 179, 179);
  font-size: 1.9rem;
  overflow-x: hidden;
  transition: all 400ms;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  display: block;
  font-family: 'Poppins', cursive;
  transition: all 250ms;
}

.sidenav a:hover {
  color: #dadada;
}

.container {
  width: 1000px;
  height: 516px;
  
  
}
.element-container {
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 3rem; 
}

.element {
  position: absolute;
  margin-top: 6.3%;
  
}

.active {
  position: relative;
  background: rgba(196, 196, 196, 0.7);
  transition: all 500ms;
}

.active::after {
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  position: absolute;
  background: #ffffff;
  height: 100%;
}

.active-management {
  position: relative;
  height: 70px;
  background: rgba(196, 196, 196, 0.7);
}

.active-management::after {
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  position: absolute;
  background: #ffffff;
  height: 100%;
}

.nav {
  width: 100%;
  background: rgb(255, 179, 179);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  height: 6rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.custom-form {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px;

}

.custom-form:focus {
  outline: none !important;
  border: 0px;
  
}

.nav-container {
  margin-left: 265px;
  margin-top: 1.2rem;
}

.user-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4.2rem;
  margin-top: 1.1rem;
  display: inline-block;
  font-family: 'Poppins', cursive;
}

.mr-negative {
  margin-top: -6.4px;
}

.main {
  margin-left: 220px;
  padding: 119px 10px;
  margin-top: 5rem;
  background-color: #a55f78;
  font-family: 'Poppins', cursive;
  
}
.page-item.active .page-link {
  background-color: #3498DB !important;
  border-color: #3498DB !important;
  font-family: 'Poppins', cursive;
}

.cursor-pointer {
  cursor: pointer;
}

.ml-6 {
  margin-left: 4rem;
}

th {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 1000;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  background-color: transparent;
  border: 2px black solid;
}

td {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  line-height: 2rem;
  background-color: #a55f78;
  border: 2px black solid;
}


@media only screen and (max-width: 768px) {
  html {
    font-size: .9rem;
  }

  .sidenav {
    width: 80px;
  }

  .main {
    margin-left: 90px;
    
  }

  svg {
    width: 200px;
  }

  .active {
    height: 50px;
  }

  .active::after {
    width: 6px;
  }
  
  .active-management {
    height: 52px;
  }

  .active-management::after {
    width: 6px;
  }

  .option {
    display: none;
  }

  .nav-container {
    margin-left: 125px;
  }
}