<template>
  <div class="hero">
    <div class="container" style="height: 100vh">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6 col-md-7 col-lg-5 col-xl-4">
          <div class="card p-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img src="@/assets/images/lnulogo.png" alt="" height="100" width="100">
              <h4 class="mb-4 mt-2">Welcome, User!</h4>
            </div>
            <form>
              <div class="form-floating mb-3">
                <input v-model="data.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input  v-model="data.password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
            </form>
           <p class=""><small>Dont have an account? <router-link to="/register" class="text-decoration-none">Signup</router-link></small></p>
            <div class="form-check form-switch">
              <input v-model="isAdmin" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Login as admin</label>
            </div>
          <div class="d-flex justify-content-end mt-3">
            <a href="" v-on:click.prevent="signin" class="btn btn-primary">Login <i class="bi bi-arrow-right-circle"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
    return {
      data: {
        email: '',
        password: '',
      },
      isAdmin: false,
    }
  },
  name: 'Home',
  components: {
  },
  mounted() {
    document.title = "Login"
  },
  methods: {
    async signin(){
      if(this.isAdmin){
        const res = await this.$store.dispatch('auth/ADMINLOGIN', this.data)
        console.log(res)
        if(res.status == 200){
          this.$router.push('/admin/')
          this.$toast.success('Login successful')
        }
        else {
          this.$toast.error('Unauthorized')
        }
      }
      else {
        const res = await this.$store.dispatch('auth/STUDENTLOGIN', this.data)
        if(res.status == 200){
          this.$router.push('/students')
          this.$toast.success('Login successful')
        }
        else {
          this.$toast.error('Unauthorized')

        }
      }
    }
  }
}
</script>
