<template>
  <div class="hero">
    <div class="container" style="height: 100vh">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6 col-md-10 col-lg-7 col-xl-7">
          <div class="card p-5">
            <h4 class=" mt-2">Welcome, User!</h4>
            <p>We need some of your info</p>
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-floating mb-3">
                    <input v-model="data.first_name" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">First Name</label>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-floating">
                    <input v-model="data.middle_name" type="text" class="form-control" id="" placeholder="Password">
                    <label for="floatingPassword">Middle Name</label>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-floating">
                    <input  v-model="data.last_name" type="text" class="form-control" id="" placeholder="Password">
                    <label for="floatingPassword">Last Name</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4 mb-3">
                <div class="form-floating">
                  <input v-model="data.student_id" type="number" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Student ID</label>
                </div>
                </div>  
                <div class="col-4 mb-3">
                  <div class="form-floating">
                    <input v-model="data.contact_number" type="text" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contact</label>
                  </div>
                </div> 
                 <div class="col-4 mb-3">
                  <div class="form-floating">
                    <input v-model="data.birth_date" type="date" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Birth Date</label>
                  </div>
                 </div>  
              </div>
              <div class="row">
                <div class="col-12 mb-3">
                  <div class="form-floating">
                    <input v-model="data.address" type="text" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Address</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4 mb-3">
                 <div class="form-floating">
                  <select v-model="data.gender" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected disabled>Select gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                  <label for="floatingSelect">Select gender</label>
                 </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-floating">
                    <input v-model="data.age" type="text" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Age</label>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-floating">
                    <input v-model="data.civil_status" type="text" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Civil Status</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 ">
                  <div class="form-floating mb-3">
                    <input v-model="data.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating">
                    <input v-model="data.password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                </div>
              </div>
            </form>
           <p class=""><small>Already have an account? <router-link to="/" class="text-decoration-none">Login</router-link></small></p>
          <div class="d-flex justify-content-end mt-3">
            <a v-on:click.prevent="createAccount" href="" class="btn btn-primary">Sign-up <i class="bi bi-arrow-right-circle"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
    return {
      data: {
        email: '',
        address: '',
        password: '',
        first_name: '',
        middle_name: '',
        contact_number: '',
        civil_status: '',
        student_id: '',
        birth_date: '',
        last_name: '',
        gender: '',
        age: '',
      },
      validated: false,
    }
  },
  name: 'Home',
  components: {
  },
  methods: {
    async createAccount(){
      this.validation();
      if(this.validated){
        const res = await this.$store.dispatch('auth/SIGNUP', this.data)
        if(res.status == 200){
          this.$toast.success('Welcome, User!')
        }
        else {
          this.showError(res.data.errors)
        }
      }
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.$toast.error(data[key][0]); 
      }
    },
    validation(){
      this.validated = false
      if(this.data.first_name.trim() == ''){
        return this.$toast.error('First Name is required')
      }
      if(this.data.middle_name.trim() == ''){
        return this.$toast.error('Middle Name is required')
      }
      if(this.data.last_name.trim() == ''){
        return this.$toast.error('Last Name is required')
      }
      if(this.data.student_id == ''){
        return this.$toast.error('Student ID is required')
      }
      if(this.data.contact_number == ''){
        return this.$toast.error('Contact Number is required')
      }
      if(this.data.address == ''){
        return this.$toast.error('Address is required')
      }
      if(this.data.gender == ''){
        return this.$toast.error('Gender is required')
      }
      if(this.data.birth_date == ''){
        return this.$toast.error('Birth date is required')
      }
      if(this.data.age == ''){
        return this.$toast.error('Age is required')
      }
      if(this.data.civil_status == ''){
        return this.$toast.error('Civil Status is required')
      }
      if(this.data.email.trim() == ''){
        return this.$toast.error('Email is required')
      }
      if(this.data.password.trim() == ''){
        return this.$toast.error('Password is required')
      }

      this.validated = true

    }
  }
}
</script>
